@import '/src/styles/global';

.cartContent {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  padding-bottom: 0;

  @media (max-width: $medium-width) {
    gap: 10px;
    padding: 10px 0 0;
  }
}

.itemImage {
  width: 120px;
  height: 120px;
  border-radius: 10px;

  @media (max-width: $medium-width) {
    width: 70px;
    height: 70px;
  }
}

.itemName {
  flex-grow: 1;
}

.priceWrapper {
  min-width: 120px;
  line-height: 1.3;
  text-align: center;

  @media (max-width: $large-width) {
    min-width: 100px;
  }

  @media (max-width: $medium-width) {
    min-width: fit-content;
  }
}

.promoPrice {
  display: none;
  font-weight: 600;
  color: var(--promo-price-color);
}

.subtotalPromo {
  display: none;
  font-weight: 600;
  color: var(--promo-price-color);
}

.promo {
  .originPrice {
    color: var(--no-promo-price-color);
    text-decoration: line-through;
  }

  .promoPrice {
    display: block;
  }

  .subtotalOrigin {
    font-weight: normal;
    color: var(--no-promo-price-color);
    text-decoration: line-through;
  }

  .subtotalPromo {
    display: block;
  }
}

.quantityWrapper {
  min-width: 120px;
  margin-left: 30px;

  @media (max-width: $large-width) {
    margin-left: 0;
  }

  @media (max-width: $medium-width) {
    width: 100%;
    min-width: unset;
    max-width: 60px;
  }
}

.quantityContent {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
  margin: 0 auto;

  background-color: transparent;
  border-radius: 15px;

  @media (max-width: $medium-width) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  font-size: 1em;

  background-color: var(--secondary-color);
  border-radius: 50%;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--base-color);
    }
  }

  @media (max-width: $medium-width) {
    width: 24px;
    height: 24px;
  }
}

.quantity {
  flex-grow: 1;

  width: 50px;
  padding: 0;

  font-size: inherit;
  text-align: center;

  border: none;

  &:focus {
    border: none;
  }

  @media (max-width: $medium-width) {
    order: -1;
    text-align: center;
  }
}

.quantityError {
  max-width: 120px;
  margin-top: 3px;

  font-size: 0.8em;
  line-height: 1.1;
  color: var(--text-error-color);
  text-align: center;
}

.itemFooter {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  border-top: 1px solid var(--secondary-color);

  @media (max-width: $medium-width) {
    padding: 10px 0;
  }
}

.removeButton {
  max-width: 200px;
  font-size: 0.8em;

  @media (max-width: $large-width) {
    font-size: 0.8em;
  }

  @media (max-width: $medium-width) {
    max-width: 140px;
  }
}

.subtotalWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.subtotalText {
  text-align: right;
}

.subtotalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 1.15;
}
