.productCartButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .addToCardBtn {
    background-color: var(--add-to-card-background-color);
  }

  .removeFromCardBtn {
    background-color: var(--discount-label-color);
  }

  .hide {
    display: none;
  }

  .addToCardBtn,
  .removeFromCardBtn {
    max-width: 300px;
    font-size: 0.8em;

    &:disabled {
      color: var(--disabled-text-color);
      background-color: var(--disabled-background-color);
    }
  }
}
