@import '/src/styles/global';

.overlay {
  position: absolute;
  z-index: 200;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(3px);
}

.passwordWrapper {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  max-width: 440px;
  margin: 0 20px;
  padding: 20px;

  background-color: oldlace;
  border: 6px double var(--base-color);
  border-radius: 10px;

  .saveBtn {
    max-width: 200px;
    background-color: var(--button-do-color);
    transition:
      opacity 0.2s ease-in,
      transform 0.1s ease-in;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

    font-size: 0.7em;
    line-height: 0.7em;
    color: var(--button-remove-color);

    background-color: transparent;
    box-shadow: unset;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgb(255 127 80 / 50%);
      }
    }
  }

  .message {
    overflow: hidden;

    max-height: 30px;
    margin-top: 10px;

    font-size: 0.45em;
    font-weight: 600;
    line-height: 1;
    color: var(--text-error-color);
    text-align: center;

    transition: max-height 0.2s ease-in;

    &.hidden {
      max-height: 0;
      margin-top: 0;
    }
  }

  @media (width <= $medium-width) {
    font-size: 1.5rem;
  }
}
