@import '/src/styles/global';

.addressFieldset {
  label:last-of-type {
    cursor: default;
    margin-bottom: 3px;
  }

  .select {
    cursor: pointer;

    display: block;

    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 9px;

    font-size: 19.44px;

    border: 2px solid var(--input-border-color);
    border-radius: 8px;

    *:disabled & {
      pointer-events: none;
      opacity: 0.7;
      background-color: var(--input-disabled-color);
    }

    @media (width <= $medium-width) {
      font-size: 16.2px;
    }
  }
}
