@import '/src/styles/global';

.loginPage {
  width: 100%;
  padding-bottom: 40px;
  font-size: 1.8rem;

  .loginFormWrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  @media (width <= $medium-width) {
    font-size: 1.5rem;
  }
}
