.connection-error__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.connection-error__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 26px;
  max-width: max-content;
  font-size: 1rem;
  border: 2px solid purple;
  border-radius: 10px;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 4px black;
  background-color: darkgray;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 5px dotted #fff;
  border-radius: 50%;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.connection-error__message > p:first-child {
  margin-bottom: 4px;
}
