@import '/src/styles/global';

.sectionWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;

  text-align: center;

  .sectionImage {
    width: 100%;
    height: auto;
    min-height: 140px;
    max-height: 250px;

    object-fit: cover;
  }

  .sectionTitle {
    position: absolute;
    padding: 10px;
    font-size: 1.8rem;

    @media (width <= $medium-width) {
      font-size: 1.4rem;
    }
  }
}
